
<h2 class="m-3">QR so beatiful! Check this out!</h2>
<hr>
<div class="container ">


  <div>QR Code: {{ qrCodeVal }}</div>
  <div>Level: {{ level }}</div>
  <div>Width: {{ width }}</div>

<br />
<br />
<div class="m-3">
  <qr-code [value]="qrCodeVal" [size]="width" [level]=level></qr-code>
</div>

<div class="row m-3">
  <div class="col m3">

    
<label>
  <div class="input-group">
  <span class="input-group-text">Change name</span>
  <input type="text" [(ngModel)]="qrCodeVal" class="form-control" placeholder="name">
</div>
 
</label>

<br />
<br />


<strong>Change to</strong>:
<br><br>
<div class="btn-group mb-3" role="group" aria-label="Basic mixed styles example">
<button class="btn btn-danger"
        (click)="updateQrInfo('Monica Rambeau')">Monica Rambeau</button>
<button class="btn btn-warning"
        (click)="updateQrInfo('Nosy Neighbor')">Nosy Neighbor</button>
<button class="btn btn-success"
        (click)="updateQrInfo('Mephisto')"> Mephisto</button>
</div>
<br />
<br />

<label>
  <div class="input-group mt-3">
  <span class="input-group-text">Change width</span>
  <input type="text" [(ngModel)]="width" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>
 
</label>

<br />
<br />


<strong>Change to</strong>:<br><br>
<div class="btn-group mb-4" role="group" aria-label="Button group">
<button class="btn btn-outline-primary"
        (click)="updateWidth(550)">550</button>
<button class="btn btn-outline-primary"
        (click)="updateWidth(450)">450</button>
<button class="btn btn-outline-primary"
        (click)="updateWidth(350)">350</button>
<button class="btn btn-outline-primary"
        (click)="updateWidth(250)">250</button>
  
</div>


<br />
<br />
<label>
  <div class="input-group mt-3">
  <span class="input-group-text">Update to:</span>
  <input type="text" [(ngModel)]="level" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

 
</label>


<br />
<br />
<strong>Update Level</strong>:<br><br>
<div class="btn-group me-2" role="group" aria-label="First group">
<button (click)="updateLevel('L')"
        class="btn btn-outline-secondary">L</button>
<button (click)="updateLevel('M')"
        class="btn btn-outline-secondary">M</button>
<button (click)="updateLevel('Q')"
        class="btn btn-outline-secondary">Q</button>
<button (click)="updateLevel('H')"
        class="btn btn-outline-secondary">H</button>
</div>
  </div>
 
</div>

</div>
